
<% if current_user && current_user.admin%>
    <h2>
        Here is a list of all emails you have received
    </h2>

    <table class = "table table-bordered mt-5" >
            <tr>
                <th>Sender</th>
                <th>Date</th>
                <th>Subject</th>
                <th>Body</th>
                <th>Assign to </h1>
            </tr>
    <% @email_array.each do |email|%>
        <tr>
            <td><%= email[:sender]%></td>
            <td><%= email[:date]%></td>
            <td><%= email[:subject]%></td>
            <td><%= email[:body]%></td>
            <td>
               
                <%= form_for :user, url: "/emails/#{email[:mail_id]}/users" do |f|%>
                    <div class = "form-group">
                        <%= collection_select(:user, :user_id, User.where(admin: nil), :id, :name, {prompt: true}, {})%>
                    </div>
                    <%= hidden_field_tag(:email_id, "#{email[:mail_id]}")%>
                    <%= f.submit "Assign User"%>
                    <div class = "form-group">
                        <% if email.user_id%>
                            <p>This email has been already been assigned to <strong><%= User.find(email.user_id).name%></strong>. Now, you can reassign it to some other user</p>
                        <%end%>
                    </div>
                <% end %>
            </td>
        </tr>
    <%end%>
<%else%>
    <h1>Please login As Admin first </h1>
<%end%>

    
    